{% extends 'blog/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
<center>
<form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
  <h1>Log in</h1>
    {{login_form|crispy }}
    <button class="btn btn-primary" type="submit">Log in</button>
</form>
</center>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}